.item {
    color: white;
    font-size: 100px;
    text-align: center;
    padding: 10px;
}

.container {
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
}

.item {
    width: calc(33.3333333% - 20px);
    margin: 10px;
}

.item1 {
    background: #ff0066;
}

.item2 {
    background: #ff6600;
}

.item3 {
    background: #ffff00;
}

.item4 {
    background: #0066ff;
}

.item5 {
    background: #33cc33;
}

.item6 {
    background: #9933ff;
}