.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 800px;
}

.item1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff0066;
    width: 100%;
    height: auto;
}

.item2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff6600;
    width: 100%;
    height: auto;
}

.item3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff00;
    width: 100%;
    height: auto;
}

.item4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0066ff;
    width: 100%;
    height: auto;
}

.item5 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #33cc33;
    width: 100%;
    height: auto;
}

.item6 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9933ff;
    width: 100%;
    height: auto;
}